/*Apply to all elements*/
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    font-weight: normal;
}

/*Apply to padding, margin and the background color to the backdrop of the app*/
body {
    padding: 0;
    margin: 0;  
    background-color: beige;
}

/*Apply css to calculator body*/
.calculator-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

/*Apply to all buttons in the grid*/
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px, solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.75);

}

/*When the mouse hovers over a button apply different color*/
.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/*Making sure certain buttons spans across 2 columns*/
.span-two {
    grid-column: span 2;
}

/*CSS for the output screen*/
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

/*CSS for the top part of the output screen*/
.output .previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

/*CSS for the bottom part of the output screen*/
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
